@inherits UmbracoViewPage<Party>
@{
    Layout = "~/Views/SitePage.cshtml";
}

<br/><br /><br /><br /><br /><br /><br /><br />


<h1>the current user (logged in or not) is anonymous for this party</h1>



@* image *@

<h1>@(this.Model.PartyHost.FirstName)'s Wonderland party</h1>

@* time *@
<p>
    @Model.PartyHost.PartyAddress.TownCity
</p>

<h2>@this.Model.Heading</h2>
<p>@this.Model.Copy</p>

@* wall (no form)*@



@* totaliser *@

@if (!this.Members.IsLoggedIn())
{
    @* only users who don't already have a party can 'join the party' *@ 
    @Html.ActionLink("Join the party", "NavigateToRegisterGuestUrl", "RegisterGuestSurface", new { partyGuid = Model.PartyHost.PartyGuid }, new { @class = "" })

    
    @Html.ActionLink("Donate", "NavigateToDonateUrl", "DonateSurface", new { partyGuid = Model.PartyHost.PartyGuid }, new { @class = "" })
}

<h2>Who's Coming (@this.Model.Partiers.Count())</h2>
<ul>
    @foreach (IPartier partier in this.Model.Partiers)
    {
        <li>
            <img src="@partier.ProfileImageUrl" />
            @partier.PersonName

        </li>
    }
</ul>

@* badges *@
