@inherits UmbracoViewPage<Party>
@{
    Layout = "~/Views/SitePage.cshtml";
}

<h1>the current user is the host for this party</h1>

@*<div ng-controller="ctrl" ng-init="init()"></div>*@

<pre>
@Json.Encode(
        new 
        {
            partyHeading = Model.Heading,
            partyCopy = Model.Copy
        }
)
</pre>

@* image *@

<h1 ng-bind="var1">@(this.Model.PartyHost.FirstName)'s Wonderland party</h1>

@* time *@
<p>
    @Model.PartyHost.PartyAddress.Address1, 
    @Model.PartyHost.PartyAddress.Address2, 
    @Model.PartyHost.PartyAddress.TownCity, 
    @Model.PartyHost.PartyAddress.Postcode
</p>

<h2>@this.Model.Heading</h2>
<p>@this.Model.Copy</p>


@(Html.Action<PartySurfaceController>("RenderPartyCopyForm"))

@(Html.Action<PartySurfaceController>("RenderProfileImageForm"))

@(Html.Action<PartySurfaceController>("RenderPartyDetailsForm"))

@(Html.Action<PartySurfaceController>("RenderSuggestedDonationForm"))



@* wall *@
@(Html.Action<PartySurfaceController>("RenderPartyWallForm"))

@*call the following url to the json collection of party wall items*@
@(Url.GetUmbracoApiService<PartyApiController>("GetPartyWallItems"))?PartyGuid=@Model.PartyHost.PartyGuid.ToString()&skip=0&take=10

@* totaliser *@

<h2>Who's Coming (@this.Model.Partiers.Count())</h2>
<ul>
    @foreach (IPartier partier in this.Model.Partiers)
    {
        <li>
            @partier.PersonName
        </li>
    }
</ul>

@* badges *@
