@inherits UmbracoViewPage<Party>
@{
    Layout = "~/Views/SitePage.cshtml";
}


<div class="page-bg">

    <div class="container gutter" ng-controller="PartyCtrl" ng-init="profileImageUrlInit('@Model.PartyHost.ProfileImageUrl')">

        <div class="wgrid-main wgrid-no-bottom-margin">

            <div class="wgrid-full parent">
                <div class="boxx collapse" m-radius-picker="large">

                    <div class="wgrid-full wgrid-no-bottom-margin">
                        <div class="grid-12 party-main-image" ng-init="hardCodedCurrentPartyImageUrlInit('@Model.PartyHost.PartyImage')" ng-style="{'background-image': 'url(' + partyImageData.PartyImage +')'}"></div>

                        <div class="party-image-default" ng-show="profileImage.url.length>0">
                            <div class="icon-icon_camera"></div>
                            <div>Choose my party picture</div>
                        </div>

                        <div class="edit-trigger" ng-click="openPageModal('partials/partyImageForm.html', 'partyImageModal', {'partyImageData': partyImageDataForForm, 'partyCustomImage': partyCustomImage})"><span class="edit-label">Edit</span><span class="icon-icon_edit"></span></div>

                    </div>

                    <div class="wgrid-full pad-large">
                        <div m-profile-image="{{ profileImage.url }}" m-radius-picker="small" ng-click="openPageModal('partials/profileImageForm.html', 'profileImageModal', {'profileImage': profileImage})"></div>
                        <div class="party-details">
                            <h3 class="pad-right-3 margin-top-0 margin-bottom-small" ng-bind="partyDetailsData.PartyHeading">@this.Model.Heading</h3>
                            <div class="body-small float-left margin-right-medium">
                                <span class="icon-icon_clock"></span>
                                <span ng-bind="partyDetailsData.PartyDateTime|datePreviewFormat"></span>
                            </div>
                            <div class="body-small float-left">
                                <span class="icon-icon_fingerpost"></span>
                                <span ng-bind="partyDetailsFormattedAddress">@Model.PartyHost.PartyAddress.Address1</span>
                            </div>
                        </div>
                        <div class="edit-trigger" ng-click="openPageModal('partials/partyDetailsForm.html', 'partyDetailsModal', {'partyDetailsData': partyDetailsDataForForm})"><span class="edit-label">Edit</span><span class="icon-icon_edit"></span></div>
                    </div>
                </div>
            </div>


            <div class="wgrid-full">
                <div class="boxx" m-radius-picker="medium large">
                    <h1 class="pad-right-3 pad-left-3">Join the Wonderland Party</h1>
                    <pre class="body-medium font-futura" ng-bind-html="partyCopyData.CopyHtmlSafe">@this.Model.Copy</pre>
                    <div class="edit-trigger" ng-click="openPageModal('partials/partyCopyForm.html', 'partyCopyModal', {'partyCopyData': partyCopyDataForForm})"><span class="edit-label">Edit</span><span class="icon-icon_edit"></span></div>
                </div>
            </div>

        </div>


        <div class="wgrid-side wgrid-no-bottom-margin parent">




            <div class="wgrid-full">
                <div class="boxx" m-radius-picker>

                    <div>
                        <span class="body-mega">£<span>@Model.PartyHost.AmountRaised.ToString("F")</span></span>
                        <span>raised of the </span>
                        <span class="body-highlight">£<span ng-bind="fundraisingTargetData.FundraisingTarget"></span></span>
                        <span>target</span>
                    </div>

                    <div class="totaliser">
                        <div class="current-total" style="width: 50%"></div>
                    </div>

                    <div class="form-info">
                        <span class="float-left">50%</span>
                        <span class="float-right">Ranked #423 of 423 parties</span>
                    </div>

                    <div class="edit-trigger" ng-click="openPageModal('partials/fundraisingTargetForm.html', 'suggestedDonationModal', {'fundraisingTargetData': fundraisingTargetDataForForm})"><span class="edit-label">Edit</span><span class="icon-icon_edit"></span></div>

                </div>
            </div>



            <div class="wgrid-full">
                <div class="boxx" m-radius-picker>
                    <h4 class="top">Suggested ticket price</h4>

                    <div class="ticket selected margin-left-3 margin-right-3">
                        <div class="stub">
                            <div class="holes"></div>
                            <div class="holes-right"></div>
                            <div class="price">£<span ng-bind="suggestedDonationData.SuggestedDonation"></span></div>
                        </div>
                    </div>

                    <div class="edit-trigger" ng-click="openPageModal('partials/suggestedDonationForm.html', 'suggestedDonationModal', {'suggestedDonationData': suggestedDonationDataForForm})"><span class="edit-label">Edit</span><span class="icon-icon_edit"></span></div>
                </div>
            </div>


            <div class="wgrid-full">
                @Html.ActionLink("Pay in money", "NavigateToDonateUrl", "DonateSurface", new { partyGuid = Model.PartyHost.PartyGuid }, new { @class = "btn-primary btn-large piggy-donater dis-block", @m_radius_picker="small medium" })
            </div>


            <div class="wgrid-full">
                <div class="boxx" m-radius-picker>
                    <h4 class="top">Who's Coming <span>(@this.Model.Partiers.Count())</span></h4>
                    <ul>
                        @foreach (IPartier partier in this.Model.Partiers)
                        {
                            <li>
                                <img src="@partier.ProfileImageUrl" width="50" height="50" alt="@Model.PartyHost.FirstName @Model.PartyHost.LastName" title="@Model.PartyHost.FirstName @Model.PartyHost.LastName" />
                            </li>
                        }
                    </ul>
                </div>
            </div>

            <div class="wgrid-full">
                <div class="boxx" m-radius-picker>
                    <h4 class="top">Badges <span>(0 of 6)</span></h4>
                </div>
            </div>

        </div>


        <div class="wgrid-main">
            <div class="boxx" ng-controller="WallCtrl" ng-init="init(
                    '@(Url.GetUmbracoApiService<PartyApiController>("GetPartyWallItems"))',
                    '@Model.PartyHost.PartyGuid.ToString()'
                )" m-radius-picker="large medium">

                <h4 class="top">Leave a message on the party wall</h4>

                <div class="boxx internal" m-radius-picker="small">

                    @* TODO - make this user image not host *@
                    <div m-profile-image="{{ profileImage.url }}" m-radius-picker="small"></div>

                    @(Html.Action<PartySurfaceController>("RenderPartyWallMessageForm"))

                    @(Html.Action<PartySurfaceController>("RenderPartyWallImageForm"))
                </div>


                <div class="margin-top-small" ng-repeat="feedItem in wall.feed">
                    <div m-profile-image="{{ feedItem.thumbnailUrl }}" m-radius-picker="small"></div>
                    <div class="wall-details">
                        <div>
                            <span class="wall-name" ng-bind="feedItem.name"></span>
                            <span class="wall-time">3h</span>
                        </div>
                        <div ng-bind="feedItem.text"></div>
                    </div>
                </div>

            </div>
        </div>

        @(Html.Action<PartySurfaceController>("RenderPartyImageForm"))

        @(Html.Action<PartySurfaceController>("RenderPartyCopyForm"))

        @(Html.Action<PartySurfaceController>("RenderPartyDetailsForm"))

        @(Html.Action<PartySurfaceController>("RenderProfileImageForm"))

        @(Html.Action<PartySurfaceController>("RenderSuggestedDonationForm"))

        @(Html.Action<PartySurfaceController>("RenderFundraisingTargetForm"))


    </div>

</div>




@*call the following url to the json collection of party wall items*@
@*<p>
    URL to call for party wall items (don't pass the beforeDateTime param and the server will use the current server time)
    ?PartyGuid=&beforeDateTime=12/12/12&take=10
</p>*@

@* badges *@
