@inherits UmbracoViewPage<Party>
@{
    Layout = "~/Views/SitePage.cshtml";
}

<br /><br /><br /><br /><br /><br /><br /><br />


<h1>the current user is the host for this party</h1>

@*<div ng-controller="ctrl" ng-init="init()"></div>*@

<pre>
@Json.Encode(
        new 
        {
            partyHeading = Model.Heading,
            partyCopy = Model.Copy
        }
)
</pre>

@* image *@

<h1 ng-bind="var1">@(this.Model.PartyHost.FirstName)'s Wonderland party</h1>

@* time *@
@* location *@

<h2>@this.Model.Heading</h2>
<p>@this.Model.Copy</p>


@(Html.Action<PartySurfaceController>("RenderPartyCopyForm"))

@(Html.Action<PartySurfaceController>("RenderProfileImageForm"))

@(Html.Action<PartySurfaceController>("RenderPartyDetailsForm"))

@(Html.Action<PartySurfaceController>("RenderSuggestedDonationForm"))

@*<form action="@(Url.GetUmbracoApiService<PartyApiController>("UpdatePartyCopy"))?partyGuid=@Model.PartyHost.PartyGuid" method="post">
    <input type="text" name="partyCopy" />
    <input type="submit" />
</form>*@

@* wall *@
@* totaliser *@

<h2>Who's Coming (@this.Model.Partiers.Count())</h2>
<ul>
    @foreach (IPartier partier in this.Model.Partiers)
    {
        <li>
            @partier.PersonName
        </li>
    }
</ul>

@* badges *@
