@inherits UmbracoViewPage<Party>
@{
    Layout = "~/Views/SitePage.cshtml";
}


<div class="page-bg">

    <div class="container gutter" ng-controller="PartyCtrl" ng-init="profileImageUrlInit('@Model.PartyHost.ProfileImageUrl')">

        <div class="wgrid-main wgrid-no-bottom-margin parent">

            <div class="wgrid-full parent">
                <div class="boxx collapse" m-radius-picker="large">

                    <div class="wgrid-full wgrid-no-bottom-margin">
                        <div class="grid-12 party-main-image" ng-init="hardCodedCurrentPartyImageUrlInit('@Model.PartyHost.PartyImage')" ng-style="{'background-image': 'url(' + partyImageData.PartyImage +')'}"></div>
                        <div class="edit-trigger" ng-click="openPageModal('partials/partyImageForm.html', 'partyImageModal', {'partyImageData': partyImageDataForForm, 'partyCustomImage': partyCustomImage})"><span class="edit-label">Edit</span><span class="icon-icon_edit"></span></div>
                    </div>

                    <div class="wgrid-full pad-large">
                        <div class="profile-image" ng-style="{'background-image': 'url(' + profileImageUrl + ')'}" m-radius-picker="small" ng-click="openPageModal('partials/profileImageForm.html', 'profileImageModal')"></div>
                        <div class="party-details">
                            <h3 class="pad-right-3" ng-bind="partyDetailsData.PartyHeading">@this.Model.Heading</h3>
                            <div class="body-small float-left margin-right-medium">
                                <span class="icon-icon_clock"></span>
                                <span ng-bind="partyDetailsData.PartyDateTime|datePreviewFormat"></span>
                            </div>
                            <div class="body-small float-left">
                                <span class="icon-icon_fingerpost"></span>
                                <span ng-bind="partyDetailsFormattedAddress">@Model.PartyHost.PartyAddress.Address1</span>
                            </div>
                        </div>
                        <div class="edit-trigger" ng-click="openPageModal('partials/partyDetailsForm.html', 'partyDetailsModal', {'partyDetailsData': partyDetailsDataForForm})"><span class="edit-label">Edit</span><span class="icon-icon_edit"></span></div>
                    </div>
                </div>
            </div>


            <div class="wgrid-full">
                <div class="boxx" m-radius-picker="medium large">
                    <h1 class="padding-right-3 padding-left-3">Join the Wonderland Party</h1>
                    <pre class="body-medium font-futura" ng-bind-html="partyCopyData.CopyHtmlSafe">@this.Model.Copy</pre>
                    <div class="edit-trigger" ng-click="openPageModal('partials/partyCopyForm.html', 'partyCopyModal', {'partyCopyData': partyCopyDataForForm})"><span class="edit-label">Edit</span><span class="icon-icon_edit"></span></div>
                </div>
            </div>

        </div>


        <div class="wgrid-side wgrid-no-bottom-margin parent">




            <div class="wgrid-full">
                <div class="boxx" m-radius-picker>
                    <h2>Fundraising target</h2>
                    <h1>£<span ng-bind="fundraisingTargetData.FundraisingTarget"></span></h1>
                    <div ng-click="openPageModal('partials/fundraisingTargetForm.html', 'suggestedDonationModal', {'fundraisingTargetData': fundraisingTargetDataForForm})">Edit</div>
                </div>
            </div>



            <div class="wgrid-full">
                <div class="boxx" m-radius-picker>
                    <h2>Change ticket price</h2>
                    <h1>£<span ng-bind="suggestedDonationData.SuggestedDonation"></span></h1>
                    <div ng-click="openPageModal('partials/suggestedDonationForm.html', 'suggestedDonationModal', {'suggestedDonationData': suggestedDonationDataForForm})">Edit</div>
                </div>
            </div>


            <div class="wgrid-full">
                <div class="boxx" m-radius-picker>
                    <h2>Pay in money</h2>
                    @Html.ActionLink("Pay in Money", "NavigateToDonateUrl", "DonateSurface", new { partyGuid = Model.PartyHost.PartyGuid }, new { @class = "" })
                </div>
            </div>


            <div class="wgrid-full">
                <div class="boxx" m-radius-picker>
                    <h2>Who's Coming (@this.Model.Partiers.Count())</h2>
                    <ul>
                        @foreach (IPartier partier in this.Model.Partiers)
                        {
                            <li>
                                <img src="@partier.ProfileImageUrl" width="50" height="50" alt="@partier.PersonName" title="@partier.PersonName"/>
                            </li>
                        }
                    </ul>
                </div>
            </div>

            <div class="wgrid-full"><div class="boxx" m-radius-picker><h2>Badges</h2></div></div>

        </div>


        <div class="wgrid-main">
            <div class="boxx" ng-controller="WallCtrl" ng-init="init(
                    '@(Url.GetUmbracoApiService<PartyApiController>("GetPartyWallItems"))',
                    '@Model.PartyHost.PartyGuid.ToString()'
                )" m-radius-picker="large medium">

                <h2>Wall</h2>

                <div>
                    @(Html.Action<PartySurfaceController>("RenderPartyWallMessageForm"))
                    <hr/>
                    @(Html.Action<PartySurfaceController>("RenderPartyWallImageForm"))
                </div>

                <hr/>

                <div style="margin-bottom: 2rem;" ng-repeat="feedItem in wall.feed">
                    <img style="float:left;" ng-src="{{ feedItem.thumbnailUrl }}" alt="{{ feedItem.name }}" title="{{ feedItem.name }}" width="50" height="50"/>
                    <span ng-bind="feedItem.name"></span><br/>
                    <span ng-bind="feedItem.text"></span>
                </div>
                <div ng-show="!wall.hasDoneFirstLoad">Loading wall...</div>
                <div ng-show="!wall.feed.length && wall.hasDoneFirstLoad">Currently there are no wall posts. Write one now!</div>

            </div>
        </div>

        @(Html.Action<PartySurfaceController>("RenderPartyImageForm"))

        @(Html.Action<PartySurfaceController>("RenderPartyCopyForm"))

        @(Html.Action<PartySurfaceController>("RenderPartyDetailsForm"))

        @(Html.Action<PartySurfaceController>("RenderProfileImageForm"))

        @(Html.Action<PartySurfaceController>("RenderSuggestedDonationForm"))

        @(Html.Action<PartySurfaceController>("RenderFundraisingTargetForm"))


    </div>

</div>




@*call the following url to the json collection of party wall items*@
@*<p>
    URL to call for party wall items (don't pass the beforeDateTime param and the server will use the current server time)
    ?PartyGuid=&beforeDateTime=12/12/12&take=10
</p>*@


@* totaliser *@
@* badges *@
