@inherits UmbracoViewPage<Party>
@{
    Layout = "~/Views/SitePage.cshtml";
}

<div class="page-bg">

    <div class="container gutter" ng-controller="PartyCtrl" ng-init="profileImageUrlInit('@Model.PartyHost.ProfileImageUrl')">



        <div class="wgrid-full parent" ng-hide="fundraisingTargetData.FundraisingTarget > 0 && suggestedDonationData.SuggestedDonation > 0 && partyDetailsData.PartyHeading" ng-cloak>
            <div class="boxx pad-large" m-radius-picker="large">

                <h1 class="text-align-left">Hi @Model.PartyHost.FirstName</h1>
                <p class="margin-bottom-large">These 3 simple steps will get your party set up and ready to raise funds for Macmillan.</p>

                <div class="grid-4 grid-tablet-12 margin-bottom-medium pad-0"
                     ng-click="openPageModal(fundraisingTargetData.FundraisingTarget > 0 ? null : 'fundraisingTargetPartial', 'suggestedDonationModal', {'fundraisingTargetData': fundraisingTargetDataForForm, 'hardcodedFundraisingTargets': hardcoded.fundraisingTargets, 'feedback': fundraisingTargetDataFeedback}, 'FundraisingTargetCtrl')">
                    <div class="btn-primary" ng-class="{'disabled': fundraisingTargetData.FundraisingTarget>0}" m-radius-picker="small">1. Fundariasing target <span class="icon-icon_edit_circle margin-left-small"></span></div>
                </div>

                <div class="grid-4 grid-tablet-12 margin-bottom-medium pad-tablet-0"
                     ng-click="openPageModal(suggestedDonationData.SuggestedDonation > 0 ? null : 'suggestedDonationPartial', 'suggestedDonationModal', 'PartyCtrl', {'suggestedDonationData': suggestedDonationDataForForm, 'hardcoded': hardcoded, 'feedback': suggestedDonationDataFeedback})">
                    <div class="btn-primary" ng-class="{'disabled': suggestedDonationData.SuggestedDonation>0}" m-radius-picker="small">2. Ticket price <span class="icon-icon_edit_circle margin-left-small"></span></div>
                </div>

                <div class="grid-4 grid-tablet-12 margin-bottom-medium pad-0"
                     ng-click="openPageModal(partyDetailsData.PartyHeading ? null : 'partials/partyDetailsForm.html', 'partyDetailsModal', {'partyDetailsData': partyDetailsDataForForm, 'feedback': partyDetailsDataFeedback})">
                    <div class="btn-primary" ng-class="{'disabled': partyDetailsData.PartyHeading}" m-radius-picker="small">3. Party details <span class="icon-icon_edit_circle margin-left-small"></span></div>
                </div>

            </div>
        </div>



        <div class="wgrid-main wgrid-no-bottom-margin">

            <div class="wgrid-full parent">
                <div class="boxx collapse" m-radius-picker="large">

                    <div class="wgrid-full wgrid-no-bottom-margin parent" ng-init="hardCodedCurrentPartyImageUrlInit('@Html.Raw(JsonConvert.SerializeObject(Model.PartyHost.PartyImage))')">

                        <img ng-src="{{ partyImageData.PartyImage.url }}" width="100%" />

                        <div class="no-party-image" ng-show="!partyImageData.PartyImage.url" ng-cloak>
                            <div class="party-image-default">
                                <div class="icon-icon_camera"></div>
                                <div>Choose my party picture</div>
                            </div>
                        </div>

                        <div class="boxx-twerk"></div>

                        <div class="edit-trigger" ng-click="openPageModal('partyImagePartial', 'partyImageModal', {'partyImageData': partyImageDataForForm, 'partyImageDefaultData': partyImageDefaultData, 'customImage': partyCustomImage, 'feedback': partyImageDataFeedback})"><span class="edit-label">Edit</span><span class="icon-icon_edit"></span></div>

                    </div>

                    <div class="wgrid-full pad-large pad-bottom-0">
                        <div m-profile-image="{{ pageProfile.image.url }}" class="clickable" m-radius-picker="small" ng-click="openPageModal('profileImagePartial', 'profileImageModal', {'pageProfile': pageProfile, 'pageFeedback': pageFeedback})"></div>
                        <div class="party-details">
                            <h3 class="pad-right-3 margin-top-0 margin-bottom-small" ng-bind="partyDetailsData.PartyHeading"></h3>
                            <div class="body-medium float-left margin-right-medium">
                                <span class="icon-icon_clock"></span>
                                <span ng-bind="partyDetailsData.PartyDateTime|datePreviewFormat"></span>
                            </div>
                            <div class="body-medium float-left">
                                <span class="icon-icon_fingerpost"></span>
                                <span ng-bind="partyDetailsFormattedAddress"></span>
                            </div>
                        </div>
                        <div class="edit-trigger" ng-click="openPageModal('partials/partyDetailsForm.html', 'partyDetailsModal', {'partyDetailsData': partyDetailsDataForForm, 'feedback': partyDetailsDataFeedback})"><span class="edit-label">Edit</span><span class="icon-icon_edit"></span></div>
                    </div>
                    <div class="wgrid-full pad-large">
                        <div class="boxx internal highlight" m-radius-picker="small">
                            <div class="grid-12 text-align-center margin-bottom-small">
                                <p>It takes more than one to party. Share this link to invite guests. When they sign up we'll send them their passport to Wonderland.</p>
                            </div>

                            <div class="grid-12">
                                <textarea class="body-medium" type="text" m-radius-picker="small" readonly="readonly" m-select-on-click ng-bind="currentPageUrl"></textarea>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


            <div class="wgrid-full parent">
                <div class="boxx" m-radius-picker="medium large">
                    <h1 class="pad-right-3 pad-left-3">Join the Apr&egrave;s-Ski party</h1>
                    <pre class="body-medium font-futura" ng-bind-html="partyCopyData.CopyHtmlSafe">@this.Model.Copy</pre>
                    <div class="edit-trigger" ng-click="openPageModal('partyCopyPartial', 'partyCopyModal', {'partyCopyData': partyCopyDataForForm, 'feedback': partyCopyDataFeedback})"><span class="edit-label">Edit</span><span class="icon-icon_edit"></span></div>
                </div>
            </div>

        </div>

        <div class="wgrid-side wgrid-no-bottom-margin parent">

            <div class="wgrid-full parent">
                <div class="boxx" m-radius-picker ng-init="amountRaised=@Model.PartyHost.AmountRaised">
                    <h4 class="top margin-right-3">Set your fundraising target</h4>
                    <div m-totaliser m-raised="amountRaised" m-total="{{ fundraisingTargetData.FundraisingTarget }}"></div>
                    <div class="edit-trigger" ng-click="openPageModal('fundraisingTargetPartial', 'suggestedDonationModal', {'fundraisingTargetData': fundraisingTargetDataForForm, 'hardcodedFundraisingTargets': hardcoded.fundraisingTargets, 'feedback': fundraisingTargetDataFeedback}, 'FundraisingTargetCtrl')"><span class="edit-label">Edit</span><span class="icon-icon_edit"></span></div>

                </div>
            </div>


            <div class="wgrid-full parent">
                <div class="boxx" m-radius-picker>
                    <h4 class="top margin-right-3">Suggest a ticket price</h4>

                    <div class="ticket selected centered max-width-25">
                        <div class="stub">
                            <div class="holes"></div>
                            <div class="holes-right"></div>
                            <div class="price" ng-bind="suggestedDonationData.SuggestedDonation|mCurrency:'£'"></div>
                        </div>
                    </div>

                    <div class="edit-trigger" ng-click="openPageModal('suggestedDonationPartial', 'suggestedDonationModal', {'suggestedDonationData': suggestedDonationDataForForm, 'hardcoded': hardcoded, 'feedback': suggestedDonationDataFeedback})"><span class="edit-label">Edit</span><span class="icon-icon_edit"></span></div>
                </div>
            </div>


            <div class="wgrid-full parent">
                <a href="@Model.DonateUrl" class="btn-primary btn-large piggy-donater dis-block" m_radius_picker="small medium">Pay in money</a>
            </div>


            <div class="wgrid-full parent">
                <div class="boxx" m-radius-picker>
                    <h4 class="top">Who's Coming <span>(@this.Model.Partiers.Count())</span></h4>

                    <div class="text-align-center">
                    @foreach (IPartier partier in this.Model.Partiers)
                    {
                        if (partier is PartyHost)
                        {
                            <div class="margin-right-small margin-bottom-small" m-profile-image="{{ pageProfile.image.url }}" mac-tooltip="@partier.FirstName @partier.LastName" m-radius-picker="small"></div>
                        } else {
                            <div class="margin-right-small margin-bottom-small" m-profile-image="{{ '@partier.ProfileImageUrl' }}" mac-tooltip="@partier.FirstName @partier.LastName" m-radius-picker="small"></div>
                        }
                    }
                    </div>
                </div>
            </div>


            <div class="wgrid-full parent" ng-init="guideBadges=[
        {imageUrl: '/img/badge_0003_gondola.png', badgeTitle: '5+ guests', badgeCopy: 'Gondola', complete: @this.Model.Partiers.Count() >= 5},
        {imageUrl: '/img/badge_0004_hottub.png', badgeTitle: '10+ guests', badgeCopy: 'Hot tub', complete: @this.Model.Partiers.Count() >= 10},
        {imageUrl: '/img/badge_0005_chalet.png', badgeTitle: '15+ guests', badgeCopy: 'Chalet', complete: @this.Model.Partiers.Count() >= 15},
        {imageUrl: '/img/badge_0002_beginner.png', badgeTitle: 'First donation', badgeCopy: 'Beginner', complete: @Model.PartyHost.AmountRaised > 0 },
        {imageUrl: '/img/badge_0001_intermediate.png', badgeTitle: '£180+', badgeCopy: 'Intermediate', complete: @Model.PartyHost.AmountRaised >= 180},
        {imageUrl: '/img/badge_0000_pro.png', badgeTitle: '£250+', badgeCopy: 'Pro', complete: @Model.PartyHost.AmountRaised >= 250}
    ]">
                <div class="boxx" m-radius-picker="small medium">
                    <h4 class="top">Badges <span ng-bind="guideBadges|formatAmountComplete"></span></h4>

                    <div class="grid-4 grid-mobile-6 pad-0 text-align-center" ng-repeat="badge in guideBadges">
                        <div class="badge" ng-style="{'background-image': 'url(' + badge.imageUrl + ')'}" ng-class="{'collected': badge.complete}"></div>
                        <div class="form-info body-emphasize margin-top-0 margin-bottom-0" ng-bind="badge.badgeTitle"></div>
                        <div class="form-info margin-bottom-small margin-top-0" ng-bind="badge.badgeCopy"></div>
                    </div>

                </div>
            </div>

        </div>


        <div class="wgrid-main">
            <div class="boxx" ng-controller="WallCtrl" ng-init="init(
                    '@(Url.GetUmbracoApiService<PartyApiController>("GetPartyWallItems"))',
                    '@Model.PartyHost.PartyGuid.ToString()',
                    '@(Url.GetUmbracoApiService<PartyApiController>("DeletePartyWallItem"))'
                );" m-radius-picker="large medium">
                


                <h4 class="top">Leave a message on the party wall</h4>

                <div class="boxx internal" m-radius-picker="small">

                    <div m-profile-image="{{ pageProfile.image.url }}" m-radius-picker="small"></div>

                    @(Html.Action<PartySurfaceController>("RenderPartyWallMessageForm"))

                    @(Html.Action<PartySurfaceController>("RenderPartyWallImageForm"))


                     <div class="grid-12 pad-0">
                         <div class="successful" ng-show="wall.feedback.messageShowSuccess">Your message was posted to the wall!</div>
                         <div class="errorred" ng-show="wall.feedback.messageShowError">Your message could not be posted to the wall, please try again</div>
                        <div class="loader margin-side-auto pos-static" ng-show="wall.feedback.messageProcessing"></div>
                     </div>
                </div>

                <div class="margin-top-small pos-relative pad-top-large" ng-repeat="feedItem in wall.feed">
                    <div m-profile-image="{{ feedItem.thumbnailUrl }}" m-radius-picker="small"></div>
                    <div class="wall-details">
                        <div>
                            <span class="wall-name" ng-bind="feedItem.name"></span>
                            <span class="wall-type" ng-class="{'party-host': feedItem.isPartyHost}" ng-show="feedItem.isPartyHost">Party Host</span>
                            <span class="wall-type" ng-class="{'donation': feedItem.isDonation}" ng-show="feedItem.isDonation">Donation</span>
                            <span class="wall-time" ng-bind="feedItem.timeFormatted"></span>
                        </div>
                        <div class="color-grey-really-dark" ng-class="{'donation-copy': feedItem.isDonation}" ng-bind="feedItem.text"></div>
                        <img class="margin-top-small margin-bottom-small pad-small" ng-src="{{ feedItem.imageUrl }}" ng-show="feedItem.imageUrl" />
                    </div>
                    <div ng-hide="feedItem.isDonation">
                        <div class="warning wall-remove clickable"ng-hide="wall.feedback.removeProcessingId==feedItem.id" ng-click="deleteFeedItem(feedItem.id)">Remove <span class="icon-icon_x"></span></div>
                        <div class="wall-remove loader" ng-show="wall.feedback.removeProcessingId==feedItem.id"></div>
                    </div>
                    <hr ng-show="!$last"/>
                </div>

                <div class="grid-12 margin-top-small pad-0" ng-show="wall.feedback.feedProcessingPost">
                    <div class="loader pos-static margin-side-auto"></div>
                </div>

                <div class="grid-12 margin-top-large pad-0" ng-show="!wall.feedback.feedProcessingPost && wall.feedLastResponseCount >= wall.feedLimit">
                    <div class="btn-secondary" ng-click="getFeed(wall.feedLastDate)" m-radius-picker="small">Show more!</div>
                </div>

            </div>


        </div>

        @(Html.Action<PartySurfaceController>("RenderPartyImageForm"))

        @(Html.Action<PartySurfaceController>("RenderPartyCopyForm"))

        @(Html.Action<PartySurfaceController>("RenderPartyDetailsForm"))

        @(Html.Action<PartySurfaceController>("RenderProfileImageForm"))

        @(Html.Action<PartySurfaceController>("RenderSuggestedDonationForm"))

        @(Html.Action<PartySurfaceController>("RenderFundraisingTargetForm"))


    </div>

</div>

