@inherits UmbracoViewPage<Party>
@{
    Layout = "~/Views/SitePage.cshtml";
}


<div class="page-bg">

    <div class="container gutter" ng-controller="PartyCtrl" ng-init="profileImageUrlInit('@Model.PartyHost.ProfileImageUrl')">

        <div class="wgrid-main wgrid-no-bottom-margin parent">

            <div class="wgrid-full">
                <div class="boxx">
                    @* image *@

                    <h1 ng-bind="partyDetailsData.PartyHeading">@this.Model.Heading</h1>

                    <div>
                        <img ng-src="{{ profileImageUrl }}" width="50" height="50" />
                        <div ng-click="openPageModal('partials/profileImageForm.html', 'profileImageModal')">Edit</div>
                    </div>

                    <span ng-bind="partyDetailsData.PartyDateTime"></span>

                    <p>
                        <span ng-bind="partyDetailsData.Address1">@Model.PartyHost.PartyAddress.Address1</span>
                        <span ng-bind="partyDetailsData.Address2">@Model.PartyHost.PartyAddress.Address2</span>
                        <span ng-bind="partyDetailsData.TownCity">@Model.PartyHost.PartyAddress.TownCity</span>
                        <span ng-bind="partyDetailsData.Postcode">@Model.PartyHost.PartyAddress.Postcode</span>
                    </p>

                    <div ng-click="openPageModal('partials/partyDetailsForm.html', 'partyDetailsModal', {'partyDetailsData': partyDetailsDataForForm})">Edit</div>
                </div>
            </div>


            <div class="wgrid-full">
                <div class="boxx">
                    <h2>Join the Wonderland Party</h2>
                    <pre ng-bind-html="partyCopyData.CopyHtmlSafe">@this.Model.Copy</pre>
                    <div ng-click="openPageModal('partials/partyCopyForm.html', 'partyCopyModal', {'partyCopyData': partyCopyDataForForm})">Edit</div>
                </div>
            </div>

        </div>


        <div class="wgrid-side wgrid-no-bottom-margin parent">


            <div class="wgrid-full"><div class="boxx"><h2>Set my target</h2></div></div>


            <div class="wgrid-full">
                <div class="boxx">
                    <h2>Change ticket price</h2>

                    <div ng-click="openPageModal('partials/suggestedDonationForm.html', 'suggestedDonationModal', {'suggestedDonationData': suggestedDonationDataForForm})">Edit</div>
                </div>
            </div>


            <div class="wgrid-full"><div class="boxx"><h2>Pay in money</h2></div></div>

            <div class="wgrid-full">
                <div class="boxx">
                    <h2>Who's Coming (@this.Model.Partiers.Count())</h2>
                    <ul>
                        @foreach (IPartier partier in this.Model.Partiers)
                        {
                            <li>
                                @partier.PersonName
                            </li>
                        }
                    </ul>
                </div>
            </div>

            <div class="wgrid-full"><div class="boxx"><h2>Badges</h2></div></div>

        </div>


        <div class="wgrid-main"><div class="boxx"><h2>Wall</h2></div></div>


        @(Html.Action<PartySurfaceController>("RenderPartyCopyForm"))

        @(Html.Action<PartySurfaceController>("RenderPartyDetailsForm"))

        @(Html.Action<PartySurfaceController>("RenderProfileImageForm"))

        @(Html.Action<PartySurfaceController>("RenderSuggestedDonationForm"))

        @(Html.Action<PartySurfaceController>("RenderFundraisingTargetForm"))


    </div>

</div>





@* wall *@
@(Html.Action<PartySurfaceController>("RenderPartyWallMessageForm"))
@(Html.Action<PartySurfaceController>("RenderPartyWallImageForm"))

@*call the following url to the json collection of party wall items*@
<p>
    URL to call for party wall items (don't pass the beforeDateTime param and the server will use the current server time)
    @(Url.GetUmbracoApiService<PartyApiController>("GetPartyWallItems"))?PartyGuid=@Model.PartyHost.PartyGuid.ToString()&beforeDateTime=12/12/12&take=10
</p>


@* totaliser *@
@* badges *@
