@inherits UmbracoViewPage<FundraisingIdeas>
@{
    Layout = "SitePage.cshtml";
}
<h1>@Model.PageHeading</h1>

@Html.Partial("PartyKit", Model.PartyKit)

<h2>@Model.SubHeading</h2>
<ul>
    @foreach(FundraisingIdea fundraisingIdea in Model.GetFundraisingIdeas())
    {
        <li>
            <h2>@fundraisingIdea.Heading</h2>
            <img src="@fundraisingIdea.Image.GetResponsiveCropUrl("Square")" />
            @Html.Raw(fundraisingIdea.Copy)
        </li>        
    }
</ul>