@inherits UmbracoViewPage<FundraisingTile>
@{
    Layout = "SitePage.cshtml";
}


<div class="page-bg" ng-init="guidePageUrl='http://www.google.com'">

    <div class="container gutter">


        <div class="wgrid-full centered text-align-center">
            <a class="back" href="@Model.Ancestor(PartyIdeas.Alias).Url"><span class="icon-icon_back"></span>Back to party ideas</a>
        </div>

        <div class="wgrid-main centered parent">

            <div class="boxx collapse" m-radius-picker="large">

                <div class="wgrid-full parent wgrid-no-bottom-margin">
                    <div class="grid-12 party-main-image" style="background-image: url(@Model.TileImage.Url)"></div>
                </div>

                <div class="wgrid-full pad-large">
                    <h1>@Model.TileHeading</h1>
                    @Html.Raw(Model.TileCopy)
                </div>
            </div>

        </div>



        <div class="wgrid-main centered parent text-align-center centered-share-holder">

            @Html.Partial("Share")

        </div>

    </div>

</div>