@inherits UmbracoViewPage<Home>
@{
    Layout = "SitePage.cshtml";
}
<section id="heroGraphic">
    <div class="hero-title">
        <img src="img/home-hero-copy.png" />
    </div>
    <div class="actions">
        <a href="#" class="btn-primary">Host a party ></a>       
    </div>
</section>
<div id="homeBg">
    <div class="container">
        <section id="homeBanner">
            <article class="banner-info">
              <h1>
                @Model.BannerHeading
              </h1>
              <p>
                @Model.BannerCopy
              </p>
            </article>
            <div class="money-raised-info">
                
            </div>
        </section>
        <section id="promoTiles">
          <ul>
            @foreach (PromotionTile promotionTile in Model.PromotionTiles)
            {
              <li>
                @promotionTile.AltText
                <img src="@promotionTile.Image.GetResponsiveCropUrl("Square")" />
                <img src="@promotionTile.OverlayImage.Url" />        
              </li>            
            }
          </ul>
        </section>
      </div>
</div>