@inherits UmbracoViewPage<Home>
@{
  Layout = "SitePage.cshtml";
}
<div class="container">
  <section id="heroGraphic">
    <img src="img/hero-ph.jpg" />        
  </section>
  <section id="homeBanner">
    <img src="img/home-banner-ph.png" />

    @Model.BannerHeading

    @Model.BannerCopy

</section>
<section id="promoLinks"><!-- can we rename to promotionTiles ? -->

    <ul>
        @foreach (PromotionTile promotionTile in Model.PromotionTiles)
        {
            <li>
                @promotionTile.Name
                <img src="@promotionTile.TileImageUrl" />
                <img src="@promotionTile.OverlayImageUrl" />        
            </li>            
        }
    </ul>

</section>