@inherits UmbracoViewPage<Home>
@{
    Layout = "SitePage.cshtml";
}
<section id="heroGraphic">
    <img src="img/home-hero-copy.png" alt="Welcome to Wonderland" class="hero-title">
    <div class="actions">
        @if (!this.Members.IsLoggedIn())
        {
            @Html.ActionLink("Host a party >", "NavigateToRegisterHostUrl", "RegisterHostSurface", null, new { @class = "btn-primary" })
        }
        else
        {
            <a href="@(((IPartier)this.Members.GetCurrentMember()).PartyUrl)" class="btn-primary">My party</a>
        }
    </div>
</section>


<div id="homeBg">
    <div>


        @*<section class="banner">
            <div class="banner-info">
              <h1> @Model.BannerHeading </h1>
              <p> @Model.BannerCopy </p>
            </div>
            <div class="money-raised-info">
              <p class="amount">£55,034</p>
            </div>
        </section>*@


        <section id="promoTiles">
            <ul class="promo-tiles">
            @foreach (PromotionTile promotionTile in Model.PromotionTiles)
            {
                <li class="frame">
                    <img src="@promotionTile.Image.GetResponsiveCropUrl("Square")" alt="@promotionTile.AltText" />
                    <img src="@promotionTile.OverlayImage.Url" />        
                </li>            
            }
            </ul>
        </section>


        @*<section id="shareWonderland">
            <div class="share-wonderland-heading">

            </div>
        </section>*@


        <section class="container gutter">

            <div class="boxx home-twitter-boxx grid-6 grid-mobile-12 push-6 push-mobile-0">
                <a class="twitter-timeline" href="https://twitter.com/hashtag/macmillan" data-widget-id="510440368576290816">#macmillan Tweets</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div>

        </section>


      </div>
</div>