@inherits UmbracoViewPage<Home>
@{
    Layout = "SitePage.cshtml";
}

<section class="hero">
    <img src="/img/home-hero-copy.png" alt="Welcome to Wonderland" class="centered margin-bottom-4 pad-left-large pad-right-large">
    <div class="text-align-center">

        @if (!this.Members.IsLoggedInPartier())
        {
            <a href="@Model.SiteSettings.RegisterHostUrl" class="btn-primary btn-large pad-top-small pad-bottom-small" m-radius-picker="small medium">Host a party <span class="icon-icon_chevron_right"></span></a>
        }
        else
        {
            <a href="@(((IPartier)this.Members.GetCurrentMember()).PartyUrl)" class="btn-primary btn-large pad-top-small pad-bottom-small" m-radius-picker="small medium">My party <span class="icon-icon_chevron_right"></span></a>
        }

    </div>
</section>




<div class="planking pad-top-4 pad-bottom-8" ng-init="guidePageUrl='http://www.google.com'">
    <div class="container gutter home-content-adjust">

        <section class="wgrid-full text-align-center margin-bottom-6 pad-0">
            <div class="boxx min-height-20 mega-pad" m-radius-picker="small medium">
                <div class="hero-explain">
                    <h1 class="text-align-left">@Model.BannerHeading</h1>
                    <p>@Model.BannerCopy</p>
                </div>
                @if (Model.TotalAmountRaised > 10000)
                { 
                    <div class="money-raised">
                        <h1 class="raised-amount margin-top-2" ng-init="amountRaised=@Model.TotalAmountRaised" ng-bind="amountRaised|mCurrency:'£'"></h1>
                    </div>
                }
            </div>

            @if (!this.Members.IsLoggedInPartier())
            {
                <a href="@Model.SiteSettings.RegisterHostUrl" class="btn-primary btn-large pad-top-small pad-bottom-small" m-radius-picker="small medium">Host a party <span class="icon-icon_chevron_right"></span></a>
            }
            else
            {
                <a href="@(((IPartier)this.Members.GetCurrentMember()).PartyUrl)" class="btn-primary btn-large pad-top-small pad-bottom-small" m-radius-picker="small medium">My party <span class="icon-icon_chevron_right"></span></a>
            }

        </section>


        <section class="wgrid-full parent gutter">

            @foreach (PromotionTile promotionTile in Model.PromotionTiles)
            {

            <div class="grid-4 grid-tablet-6 grid-mobile-12" m-rotate>

                <div class="home-tile" m-height-match-width>
                    <div class="home-tile-image" style="background-image: url(@promotionTile.Image.GetResponsiveCropUrl("Square"));"></div>
                    <img class="home-tile-label" src="@promotionTile.OverlayImage.Url" alt="@promotionTile.AltText" />
                    <a class="idea-link" href="@promotionTile.Link.Url">Goto resource</a>
                </div>

            </div>

            }

        </section>


        <div class="boxx home-twitter-boxx grid-6 grid-tablet-12 push-6 push-tablet-0 margin-bottom-large hide-on-mobile" m-radius-picker="small">
            <a class="twitter-timeline" href="https://twitter.com/hashtag/macmillan" data-widget-id="510440368576290816">#macmillan Tweets</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>


        <div class="grid-6 grid-tablet-12 pull-6 pull-tablet-0 pad-0">

            @Html.Partial("Share")

        </div>


    </div>
</div>