@inherits UmbracoViewPage<Home>
@{
    Layout = "SitePage.cshtml";
}
<section id="heroGraphic">
    <div class="hero-title">
    </div>
    <div class="actions">
        <a href="@Model.SiteSettings.RegisterHostUrl" class="btn-primary">Host a party ></a>       
    </div>
</section>
<div id="homeBg">
    <div class="container">
        <section class="banner row">
            <div class="banner-info eightcol">
              <h1> @Model.BannerHeading </h1>
              <p> @Model.BannerCopy </p>
            </div>
            <div class="money-raised-info fourcol">
                <div class="sixcol"></div>
                <div class="sixcol"></div>
            </div>
        </section>
        <section id="promoTiles">
            <ul class="promo-tiles">
            @foreach (PromotionTile promotionTile in Model.PromotionTiles)
            {
                <li class="frame">
                    <img src="@promotionTile.Image.GetResponsiveCropUrl("Square")" alt="@promotionTile.AltText" />
                    <img src="@promotionTile.OverlayImage.Url" />        
                </li>            
            }
            </ul>
        </section>
        <section id="shareWonderland">
            <div class="share-wonderland-heading">
              
            </div>
        </section>
        <section id="twitterFeed">
            
        </section>
      </div>
</div>