@inherits UmbracoViewPage<Home>
@{
    Layout = "SitePage.cshtml";
}
<section id="heroGraphic">
    <img src="img/home-hero-copy.png" alt="Welcome to Wonderland" class="hero-title">
    <div class="actions">
        @if (!this.Members.IsLoggedIn())
        {
            @Html.ActionLink("Host a party >", "NavigateToRegisterHostUrl", "RegisterHostSurface", null, new { @class = "btn-primary" })
        }
        else
        {
            <a href="@(((IPartier)this.Members.GetCurrentMember()).GetPartyUrl())" class="btn-primary">My party</a>
        }
    </div>
</section>


<div id="homeBg">
    <div class="container">


        @*<section class="banner">
            <div class="banner-info">
              <h1> @Model.BannerHeading </h1>
              <p> @Model.BannerCopy </p>
            </div>
            <div class="money-raised-info">
              <p class="amount">£55,034</p>
            </div>
        </section>*@


        <section id="promoTiles">
            <ul class="promo-tiles">
            @foreach (PromotionTile promotionTile in Model.PromotionTiles)
            {
                <li class="frame">
                    <img src="@promotionTile.Image.GetResponsiveCropUrl("Square")" alt="@promotionTile.AltText" />
                    <img src="@promotionTile.OverlayImage.Url" />        
                </li>            
            }
            </ul>
        </section>


        @*<section id="shareWonderland">
            <div class="share-wonderland-heading">

            </div>
        </section>


        @*<section id="twitterFeed">
            
        </section>*@


      </div>
</div>