@inherits UmbracoViewPage<PartyIdeas>
@{
    Layout = "SitePage.cshtml";
}
<h1>Party Ideas</h1>

<ul>
    @foreach (PartyIdeaTile partyIdeaTile in Model.PartyIdeaTiles)
    {
        <li class="party-idea-tile-size-@partyIdeaTile.TileSize.ToString().ToLower()">
            <h1>@partyIdeaTile.TileHeading</h1>
            <h2>@partyIdeaTile.TileSize</h2>
            <img src="@partyIdeaTile.TileImage.Url" />
            <p>@partyIdeaTile.TileCopy</p>
            <a href="@partyIdeaTile.Url">@partyIdeaTile.Url</a>

            @if (partyIdeaTile is SpotifyTile)
            {
                <h5>Spotify Tile</h5>
            }
            
            @if (partyIdeaTile is RecipeTile)
            {
                <h5>Recipe Tile</h5>
            }
            
            @if (partyIdeaTile is DecorationTile)
            {
                <h5>Decoration Tile</h5>
            }
            
            @if (partyIdeaTile is FashionTile)
            {
                <h5>Fashion Tile</h5>
            }

        </li>
    }
</ul>