@inherits UmbracoViewPage<RecipeTile>
@{
    Layout = "SitePage.cshtml";
}


@* TODO: remove hardcoded url *@
<div class="page-bg" ng-init="guidePageUrl='http://www.google.com'">

    <div class="container gutter">


        <div class="wgrid-full text-align-center">
            <a class="back" href="@Model.Ancestor(PartyIdeas.Alias).Url"><span class="icon-icon_back"></span>Back to party ideas</a>
        </div>



        <div class="wgrid-main no-margin-bottom">

            <div class="wgrid-full parent">
                <div class="boxx collapse" m-radius-picker="large">

                    <div class="wgrid-full parent wgrid-no-bottom-margin">
                        <img ng-src="{{ '@Model.TileImage.GetResponsiveCropUrl("Letterbox")'|mQuality:50 }}" width="100%" alt=""/>
                        <div class="boxx-twerk"></div>
                    </div>

                    <div class="wgrid-full pad-large">
                        <h1>@Model.TileHeading</h1>
                        @Html.Raw(Model.TileCopy)
                    </div>
                </div>
            </div>

            <div class="wgrid-full parent">
                <div class="boxx" m-radius-picker="medium">

                    <h4>Method</h4>


                    @Html.Raw(Model.PreparationCopy)

                </div>
            </div>

        </div>



        <div class="wgrid-side parent">

            <div class="wgrid-full parent">
                <div class="boxx" m-radius-picker>

                    <h4>@Model.IngredientsHeading</h4>
                    <ul>
                        @foreach(string ingredient in Model.Ingredients)
                        {
                            <li>@ingredient</li>
                        }
                    </ul>

                </div>
            </div>


            <!--<div class="wgrid-full">-->
            <div class="wgrid-full centered parent text-align-center centered-share-holder">

                @Html.Partial("Share")

            </div>

        </div>





    </div>

</div>