@inherits UmbracoViewPage<SitePage>
@{
    Layout = null;
}
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="@Model.MetaDescription">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        
    @{ 
        Html.RequiresCss("~/css/main.css"); 
        Html.RequiresCss("~/scripts/bower_components/ocModal/dist/css/ocModal.full.css");
    }
    @Html.RenderCssHere()
  
    <script type="text/javascript">window.slimmage = { verbose: false };</script>
    @{
        Html.RequiresJs(new JavascriptFile("~/scripts/slimmage.js") { ForceProvider = "HeadRenderer" });
        Html.RequiresJs(new JavascriptFile("~/scripts/vendor/modernizr-2.6.2.min.js") { ForceProvider = "HeadRenderer" });
    }
    @Html.RenderJsHere("HeadRenderer")
</head>
<body>

    <div class="page-container" ng-controller="PageCtrl" ng-class="{'showing-side-nav-menu': pageShowingSideNavMenu, 'showing-side-account-menu': pageShowingSideAccountMenu}">
        <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        @if (Model.ShowHeaderAndFooter) { @Html.Partial("Header", Model.SiteSettings) }
        <main id="content" role="main">
        @RenderBody()
        </main>
        @if (Model.ShowHeaderAndFooter) { @Html.Partial("Footer", Model.SiteSettings) }

    </div>

    @{
        Html.RequiresJs("~/scripts/vendor/jquery-1.10.2.js"); // maybe use jquery... not sure yet
        Html.RequiresJs("~/scripts/bower_components/angular/angular.js");
        Html.RequiresJs("~/scripts/bower_components/ocModal/dist/ocModal.js");
        Html.RequiresJs("~/scripts/app/app.js");
        Html.RequiresJs("~/scripts/app/controllers/pageCtrl.js");
        Html.RequiresJs("~/scripts/app/controllers/partyCtrl.js");
        Html.RequiresJs("~/scripts/app/directives/mPostOnSubmit.js");
        Html.RequiresJs("~/scripts/app/services/debounce.js");
        Html.RequiresJs("~/scripts/app/services/mHttp.js");
        Html.RequiresJs("~/scripts/app/services/safeApply.js");
        Html.RequiresJs("~/scripts/app/services/uniqueId.js");
    }
    @Html.Raw(Html.RenderJsHere());

    <script>angular.bootstrap(document.getElementsByTagName("html")[0], ['wonderlandApp']);</script>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>
</body>
</html>