@inherits UmbracoViewPage<Wonderlanders>
@{
    Layout = "SitePage.cshtml";
}
<h1>@Model.PageHeading</h1>

<h2>@Model.TopFundraisersHeading</h2>
@foreach (PartyHost partyHost in Model.TopFundraisers)
{
    @partyHost.Name
}
<a href="@Model.GetLeaderboard().TopFundraisersLink">view all &gt;</a>


<h2>@Model.MostGuestsHeading</h2>
@foreach (PartyHost partyHost in Model.MostGuests)
{
    @partyHost.Name
}
<a href="@Model.GetLeaderboard().MostGuestsLink">view all &gt;</a>

<h2>@Model.BadgesTodayHeading</h2>
@foreach (PartyHost partyHost in Model.BadgesToday)
{
    @partyHost.Name
}

<h2>@Model.RecentHostsHeading</h2>
@foreach (PartyHost partyHost in Model.RecentHosts)
{
    @partyHost.Name
}