@model DonateForm


@using (Html.BeginUmbracoForm<DonateSurfaceController>("HandleDonateForm", FormMethod.Post, new { ng_submit="processing=true" }))
{
    @Html.AntiForgeryToken()

    <div class="errorred" ng-show="errorAmountMessage.length>0||errorFirstNameMessage.length>0 || errorLastNameMessage.length>0 || errorAddress1Message.length>0 || errorTownCityMessage.length>0 || errorPostcodeMessage.length>0">Please fill out all required details</div>

    <h3>Enter your donation amount</h3>

    <div class="clear width-50p width-mobile-100p">
        <div class="errorred margin-bottom-small" ng-show="guideDonation.donation>=1000">Are you sure you want to donate this amount of money, it seems like a lot!</div>
        <div class="pos-relative">
            <span class="form-field-ico">£</span>
            @Html.TextBoxFor(x => x.Amount, new { @class="currency", @ng_model="guideDonation.donation", @m_value_matcher="", @m_radius_picker="small", @m_valid_number="", @ng_readonly="processing", @ng_class="{'error': errorAmountMessage.length>0}"})
        </div>
        <div class="margin-bottom-small" ng-show="errorAmountMessage.length>0" ng-init="errorAmountMessage='@Html.ValidationMessageFor(x => x.Amount)'">@Html.ValidationMessageFor(x => x.Amount)</div>
    </div>

    <div class="pos-relative min-height-4">
        <div class="giftaid-logo"></div>

        <h3 class="margin-right-10">Add Gift Aid</h3>
    </div>

    <p>With Gift Aid your donation will be worth 25% more to Macmillan Cancer Support at no extra cost to you.</p>

    <p class="extra-info-block">With Gift Aid your <span class="body-bold" ng-bind="guideDonation.donation|mCurrency:'£'"></span> donation will give <span class="body-bold" ng-bind="guideDonation.donation*1.25|mCurrency:'£'"></span> to Macmillan!</p>

    <label class="radio-form">
        @Html.CheckBoxFor(m => m.AllowGiftAid)
        <span class="body-emphasize">I am a UK taxpayer.</span> Please treat all donations I make or have made to Macmillan Cancer Support for the past for years as Gift Aid donations until I notify you otherwise
    </label>

    <p class="form-info">I understand that I must have paid or will pay an amount of Income Tax and/or Capital Gains Tax in each tax year, that is at least equal to the tax that Charities & Community Amateur Sports Clubs (CASCs) I donate to will reclaim on my gifts. I understand that taxes such as VAT and Council Tax do not qualify and that Macmillan Cancer Support will reclaim 25p of tax on every £1 that I give.</p>

    <hr/>

    <div class="pos-relative min-height-8">
        <h3 class="margin-right-9">Enter your billing details</h3>
        <div class="fsb-logo"></div>
    </div>


    <div class="grid-12 parent margin-bottom-large">

        <div class="grid-8 grid-tablet-12 parent">
            <label for="Postcode2">Postcode</label>
            <input type="text" class="margin-bottom-small" name="Postcode2" ng-model="billingAddressData.Postcode" m-radius-picker="small" on-key-enter-trigger="pafAddressFinderPostcodeSearch1"/>
            <div m-address-finder="{{ billingAddressData.Postcode }}" m-address="billingAddressData" m-trigger-event="pafAddressFinderPostcodeSearch1"></div>
        </div>
        <div class="clear"></div>
        <hr/>
    </div>



    <div class="grid-8 grid-tablet-12 parent margin-bottom-large">
        <label for="FirstName">First name</label>
        @Html.TextBoxFor(x => x.FirstName, new { @m_radius_picker="small", @ng_readonly="processing", @ng_class="{'error': errorFirstNameMessage.length>0}" })
        <div class="margin-bottom-small" ng-show="errorFirstNameMessage.length>0" ng-init="errorFirstNameMessage='@Html.ValidationMessageFor(x => x.FirstName)'">@Html.ValidationMessageFor(x => x.FirstName)</div>

        <label for="LastName">Last name</label>
        @Html.TextBoxFor(x => x.LastName, new { @m_radius_picker="small", @ng_readonly="processing", @ng_class="{'error': errorLastNameMessage.length>0}" })
        <div class="margin-bottom-small" ng-show="errorLastNameMessage.length>0" ng-init="errorLastNameMessage='@Html.ValidationMessageFor(x => x.LastName)'">@Html.ValidationMessageFor(x => x.LastName)</div>

        <h4>Your address</h4>

        <label for="Address1">Address 1</label>
        @Html.TextBoxFor(x => x.Address1, new { @m_radius_picker="small", @ng_model="billingAddressData.Address1", @m_value_matcher="", @ng_readonly="processing", @ng_class="{'error': errorAddress1Message.length>0}" })
        <div class="margin-bottom-small" ng-show="errorAddress1Message.length>0" ng-init="errorAddress1Message='@Html.ValidationMessageFor(x => x.Address1)'">@Html.ValidationMessageFor(x => x.Address1)</div>

        <label for="Address2">Address 2</label>
        @Html.TextBoxFor(x => x.Address2, new { @m_radius_picker="small", @ng_model="billingAddressData.Address2", @m_value_matcher="", @ng_readonly="processing", @ng_class="{'error': errorAddress2Message.length>0}" })
        <div class="margin-bottom-small" ng-show="errorAddress2Message.length>0" ng-init="errorAddress2Message='@Html.ValidationMessageFor(x => x.Address2)'">@Html.ValidationMessageFor(x => x.Address2)</div>

        <label for="TownCity">Town/City</label>
        @Html.TextBoxFor(x => x.TownCity, new { @m_radius_picker="small", @ng_model="billingAddressData.TownCity", @m_value_matcher="", @ng_readonly="processing", @ng_class="{'error': errorTownCityMessage.length>0}" })
        <div class="margin-bottom-small" ng-show="errorTownCityMessage.length>0" ng-init="errorTownCityMessage='@Html.ValidationMessageFor(x => x.TownCity)'">@Html.ValidationMessageFor(x => x.TownCity)</div>

        <label for="Postcode">Postcode</label>
        @Html.TextBoxFor(x => x.Postcode, new { @m_radius_picker="small", @ng_model="billingAddressData.Postcode", @m_value_matcher="", @ng_readonly="processing", @ng_class="{'error': errorPostcodeMessage.length>0}" })
        <div class="margin-bottom-small" ng-show="errorPostcodeMessage.length>0" ng-init="errorPostcodeMessage='@Html.ValidationMessageFor(x => x.Postcode)'">@Html.ValidationMessageFor(x => x.Postcode)</div>
    </div>


    <div class="grid-12 parent">
        <button type="submit" class="btn-primary float-right width-mobile-100p" m-radius-picker="small" ng-disabled="processing">Proceed</button>
        <span class="cancel margin-right-1 float-right">Cancel</span>
        <div class="loader pos-mobile-static float-mobile-left" ng-show="processing"></div>
    </div>

}



