@model RegisterGuestForm

<!--
    @(Url.GetUmbracoApiService<FacebookApiController>("RegisterGuest"))

get variable on queryString: partyGuid=
post Json
{
    'accessToken' : 'xxx',
    'userId' : '123',
    'signedRequest' : "xxx",
    'emailAddress' : 'someone@facebook.com',
    'firstName' : 'first',
    'lastName' : 'last'
}
-->

<div ng-init="processing=false">
    @using (Html.BeginUmbracoForm<RegisterGuestSurfaceController>("HandleRegisterGuestForm", FormMethod.Post, new { ng_submit="processing=true" }))
    {

        @Html.ValidationMessage("RegisterGuestValidation")

        <div class="grid-8 grid-mobile-12 margin-bottom-large">

            <h3>Your details</h3>
            @Html.AntiForgeryToken()


            <label for="EmailAddress">Email</label>
            @Html.TextBoxFor(x => x.EmailAddress, new { @m_radius_picker="small", @ng_readonly="processing", @ng_class="{'error': errorEmailMessage.length>0}" })
            <div class="margin-bottom-small" ng-show="errorEmailMessage.length>0" ng-init="errorEmailMessage='@Html.ValidationMessageFor(x => x.EmailAddress)'">@Html.ValidationMessageFor(x => x.EmailAddress)</div>


            <label for="Password">Password</label>
            <div class="pos-relative margin-bottom-small">
                <span class="form-field-ico icon-icon_padlock"></span>
                @Html.PasswordFor(x => x.Password, new { @m_radius_picker="small", @ng_readonly="processing", @ng_class="{'error': errorPasswordMessage.length>0}" })
            </div>
            <div class="margin-bottom-small" ng-show="errorPasswordMessage.length>0" ng-init="errorPasswordMessage='@Html.ValidationMessageFor(x => x.Password)'">@Html.ValidationMessageFor(x => x.Password)</div>


        </div>

        <div class="grid-12">
            <hr/>
            <button type="submit" class="width-mobile-100p btn-primary float-right" m-radius-picker="small" ng-disabled="processing">Join <span class="icon-icon_chevron_right"></span></button>

            <div class="loader pos-mobile-static float-mobile-left" ng-show="processing"></div>
        </div>
    }
</div>