@inherits UmbracoViewPage<RegisterGuest>
@{
    Layout = "~/Views/SitePage.cshtml";
}


<div class="page-bg">

    <div class="container gutter">

        <div class="wgrid-main">

            <div class="boxx" m-radius-picker>

                <h1><span class="lighter"><span class="icon-icon_tick margin-right-medium"></span><span class="bigger">You've </span></span><br/><span>joined the party!</span></h1>

                <h3>You're going to: @Model.PartyHost.PartyHeading</h3>
                <p>Review your order details, then go join the conversation  on the <a href="@Model.PartyHost.PartyUrl" class="body-highlight">party page wall</a>.</p>

                <hr/>

                <h4>Order details</h4>

                <table>
                    <tr><td>Payment #:</td><td>@Model.DonationRow.VendorTxCode</td></tr>
                    <tr><td>Payment status:</td><td>Success</td></tr>
                    <tr><td>Date:</td><td ng-bind="'@Model.DonationRow.Timestamp'|datePreviewFormat"></td></tr>
                    <tr><td>Total amount:</td><td ng-bind="@Model.DonationRow.Amount|mCurrency:'£'"></td></tr>
                </table>

                <hr class="margin-top-large margin-bottom-large"/>

                <a href="@Model.PartyHost.PartyUrl" class="btn-primary float-right" m-radius-picker="small medium">Go to the party page <span class="icon-icon_chevron_right"></span></a>

            </div>

        </div>


        <div class="wgrid-side parent">

            <div class="wgrid-full parent">

                <div class="boxx collapse" m-radius-picker="medium">

                    @Html.Partial("PartyDetailsSide")

                </div>

            </div>

            <div class="wgrid-full pad-0">

                <div class="boxx radius-v1-small">

                    <m-totaliser m-raised="@Model.PartyHost.AmountRaised" m-total="@Model.PartyHost.FundraisingTarget"></m-totaliser>

                </div>

            </div>

        </div>

    </div>

</div>

