@inherits UmbracoViewPage<RegisterGuest>
@{
    Layout = "~/Views/SitePage.cshtml";
}




<div class="page-bg" ng-init="guideDonationSuggestions = [
        { amount: 10, label: null },
        { amount: 15, label: '@Model.PartyHost.FirstName\'s suggested amount' },
        { amount: 20, label: null },
        { amount: 25, label: null }
    ];">





    <div class="container gutter">

        <div class="wgrid-main wgrid-no-bottom-margin">

            <div class="boxx radius-bottom-0" m-radius-picker="large">

                <h1><span class="lighter"><span class="icon-icon_star"></span>Register </span><br/><span class="bigger margin-top-medium">guest billing</span></h1>

            </div>

        </div>


        <div class="wgrid-side parent wgrid-no-bottom-margin">

            <div class="boxx collapse radius-tablet-0" m-radius-picker="medium">

                <div class="wgrid-full wgrid-no-bottom-margin parent">
                    <div class="grid-12 party-main-image side" style="background-image: url(@Model.PartyHost.PartyImage)"></div>
                </div>


                <div class="wgrid-full pad-large">

                    <div m-profile-image="@Model.PartyHost.ProfileImageUrl" m-radius-picker="small"></div>
                    <div class="party-details">
                        <h3 class="top pad-right-3 margin-bottom-4 margin-mobile-bottom-0">@Model.PartyHost.PartyHeading</h3>

                        <div class="anti-image-shift-details body-small float-left margin-right-medium">
                            <span class="icon-icon_clock"></span>
                            <span ng-bind="partyDateTime|datePreviewFormat" ng-init="partyDateTime='@Model.PartyHost.PartyDateTime'"></span>
                        </div>
                        <div class="anti-image-shift-details body-small float-left">
                            <span class="icon-icon_fingerpost"></span>
                            <span ng-bind="'@Model.PartyHost.PartyAddress.Address1:~:@Model.PartyHost.PartyAddress.Address2:~:@Model.PartyHost.PartyAddress.TownCity:~:@Model.PartyHost.PartyAddress.Postcode'|addressJoiner:':~:'"></span>
                        </div>

                    </div>
                </div>

            </div>

        </div>



        <div class="wgrid-main">

            <div class="boxx radius-top-0" m-radius-picker>

                <hr/>

                @(Html.Action<RegisterGuestSurfaceController>("RenderRegisterGuestBillingForm"))

            </div>

        </div>


    </div>

</div>