@inherits UmbracoViewPage<SiteSettings>
<div class="footer-snow-brush-overlay"></div>
<footer class="container">
    <section class="footer-primary">
        <nav>
            <h2>Pages</h2>
            <ul>
            @foreach (SitePage sitePage in Model.FooterNavigation)
            {
              <li><a href="@sitePage.Url">@sitePage.Name</a></li>
            }
            </ul>
        </nav>
        <div class="share-container">
            <h2>
                Connect with us
            </h2>
            <ul>
                <li><a href="@Model.FacebookUrl"><span class="icon-facebook"> </span> </a></li>
                <li><a href="@Model.TwitterUrl"><span class="icon-twitter"> </span> </a></li>
                <li><a href="@Model.GooglePlusUrl"><span class="icon-google_plus"> </span> </a></li>
            </ul>
            <p>
                @Model.CampaignHashtag
            </p>
        </div>
        <div class="footer-logo row">
            <img src="/img/macmillan-logo.svg" alt="Macmillan Cancer Support" />
        </div>
    </section>
    <section class="footer-secondary row">
        <div class="legal-copy">
            @Model.FooterCopy
        </div>
        <nav>
            <ul>
              @foreach (SitePage sitePage in Model.LegalNavigation)
              {
                <li><a href="@sitePage.Url">@sitePage.Name</a></li>
              }
            </ul>
        </nav>
    </section>
</footer>