@inherits UmbracoViewPage<SiteSettings>




<footer>
    <div class="footer-snow-brush-overlay"></div>
    <div class="container">

        <div class="grid-3 grid-tablet-12 footer-menu">
            <h2 class="top margin-bottom-tiny">Pages</h2>
            <ul>
                @foreach (SitePage sitePage in Model.FooterNavigation)
                {
                <li>
                    <a href="@sitePage.Url">@sitePage.Name</a>
                </li>
                }
            </ul>
        </div>


        <div class="grid-4 grid-tablet-12 footer-menu single-line icon-list">
            <h2 class="top margin-bottom-small">Connect with us</h2>
            <ul>
                <li><a class="icon-icon_facebook color-facebook" href="@Model.FacebookUrl" target="_blank"><span>Find us on Facebook</span></a></li>
                <li><a class="icon-icon_twitter color-twitter" href="@Model.TwitterUrl" target="_blank"><span>Find us on Twitter</span></a></li>
                <li><a class="icon-icon_google_plus color-pinterest" href="@Model.GooglePlusUrl" target="_blank"><span>Find us on Google+</span></a></li>
            </ul>
            <div class="margin-bottom-small clear"></div>
            <div class="clear color-twitter body-large body-bold font-futura">@Model.CampaignHashtag</div>
        </div>


        <div class="grid-5 grid-tablet-12">
            <img style="max-width: 25rem;" src="/img/macmillan-logo.svg" alt="Macmillan Cancer Support" />
        </div>

    </div>

    <div class="container">


        <div class="grid-5 grid-tablet-12 footer-menu single-line push-7 push-tablet-0">

            <ul>
                @foreach (SitePage sitePage in Model.LegalNavigation)
                {
                <li>
                    <a href="@sitePage.Url" target="_blank">@sitePage.Name</a>
                </li>
                }
            </ul>

        </div>

        <div class="grid-7 grid-tablet-12 body-mini pull-5 pull-tablet-0">Macmillan Cancer Support, registered charity in England and Wales (261017) and the Isle of Man (604). A company limited by guarantee, registered in England and Wales company number 2400969. Isle of Man company number 4694F. Registered office: 89 Albert Embankment, London SE1 7UQ.</div>


    </div>

</footer>