@inherits UmbracoViewPage<SiteSettings> 


<header class="site-header" ng-class="{'compress': pageHeaderCompress}">


    <a class="nav-burger nav-end-block icon-icon_hamburger_menu" ng-click="pageShowingSideNavMenu=!pageShowingSideNavMenu" ng-class="{'icon-icon_x': pageShowingSideNavMenu}"></a>

    <a class="nav-account nav-end-block end-block-right icon-icon_person" ng-click="pageShowingSideAccountMenu=!pageShowingSideAccountMenu" ng-class="{'icon-icon_x': pageShowingSideAccountMenu}"></a>




    @if (!this.Members.IsLoggedInPartier())
    {
        @Html.ActionLink("Host a party >", "NavigateToRegisterHostUrl", "RegisterHostSurface", null, new { @class = "btn-primary btn-small nav-end-block",  m_radius_picker="small" })
    }
    else
    {
        <a href="@(((IPartier)this.Members.GetCurrentMember()).PartyUrl)" class="btn-primary btn-small nav-end-block" m-radius-picker="small">My party</a>
    }



    @if (!this.Members.IsLoggedInPartier())
    {
        <div class="nav-end-block end-block-right">
            @Html.ActionLink("Login", "NavigateToLoginUrl", "LoginSurface", null, new { @class = "btn-secondary btn-small",  m_radius_picker="small" })
        </div>
    }
    else
    {
        <div class="nav-end-block end-block-right">
            @Html.ActionLink("Logout", "Logout", "LogoutSurface", null, new { @class = "btn-secondary btn-small",  m_radius_picker="small" })
        </div>
    }




    <nav class="nav">


        <div class="nav-menu">
            <ul>
                <li class="menu left-side">
                    <ul>
                        <li class="side-only"><a class="" href="/"><span class="icon-icon_home"></span>Home</a></li>
                        <li class="side-only"><a class="" href="#"><span class="icon-icon_person"></span>My Party</a></li>
                        @foreach (SitePage sitePage in Model.HeaderNavigationLeft)
                        {
                            <li><a class="" href="@sitePage.Url"><span class="icon-icon_fingerpost"></span>@sitePage.Name</a></li>
                        }
                    </ul>
                </li>
                <li class="menu right-side">
                    <ul>
                        @foreach (SitePage sitePage in Model.HeaderNavigationRight)
                        {
                            <li><a class="" href="@sitePage.Url"><span class="icon-icon_fingerpost"></span>@sitePage.Name</a></li>
                        }
                    </ul>
                </li>
            </ul>
        </div>


        <a href="/" class="logo">
            <span class="logo-ribbon"></span>
            <span class="logo-copy">Wonderland Home</span>
        </a>


        <div class="account-menu">
            <div class="menu">
                <ul>
                    <li><a class="" href="#"><span class="icon-icon_person"></span>My Party</a></li>
                    <li><a class="" href="#"><span class="icon-icon_person"></span>My Profile</a></li>
                    <li><a class="" href="#"><span class="icon-icon_person"></span>Logout</a></li>
                </ul>
            </div>
        </div>


    </nav>

    <div class="snow-brush-overlay"></div>

</header>