@inherits UmbracoViewPage<SiteSettings> 



<header class="site-header" ng-class="{'compress': pageHeaderCompress}">


    <a class="nav-burger nav-end-block icon-icon_hamburger_menu" ng-click="pageShowingSideNavMenu=!pageShowingSideNavMenu" ng-class="{'icon-icon_x': pageShowingSideNavMenu}"></a>

    <a class="nav-account nav-end-block end-block-right icon-icon_person" ng-click="pageShowingSideAccountMenu=!pageShowingSideAccountMenu" ng-class="{'icon-icon_x': pageShowingSideAccountMenu}"></a>




    @if (!this.Members.IsLoggedInPartier())
    {
        <a href="@Model.RegisterHostUrl" class="btn-primary btn-small nav-end-block" m-radius-picker="small">Host a party <span class="icon-icon_chevron_right"></span></a>
    }
    else
    {
        <a href="@(((IPartier)this.Members.GetCurrentMember()).PartyUrl)" class="btn-primary btn-small nav-end-block" m-radius-picker="small">MY PARTY <span class="icon-icon_chevron_right"></span></a>
    }



    @if (!this.Members.IsLoggedInPartier())
    {
        <div class="nav-end-block end-block-right">
            <a href="@Model.LoginUrl" class="btn-secondary btn-small" m-radius-picker="small">Login <span class="icon-icon_person"></span></a>
        </div>
    }
    else
    {
        <div class="nav-end-block end-block-right">
            <a href="@Model.ProfileUrl" class="btn-secondary btn-small" m-radius-picker="small">My Profile</a>

            <a href="/logout" class="btn-secondary btn-small" m-radius-picker="small">Logout <span class="icon-icon_person"></span></a>
        </div>
    }




    <nav class="nav">


        <div class="nav-menu">
            <ul>
                <li class="menu left-side">
                    <ul>
                        <li class="side-only"><a href="/"><span class="icon-icon_home"></span>Home</a></li>
                        <li class="side-only"><a href="#"><span class="icon-icon_person"></span>My Party</a></li>

                        @foreach (SitePage sitePage in Model.HeaderNavigationLeft)
                        {
                        <li>
                            <a href="@sitePage.Url"><span class="icon-icon_fingerpost"></span><span>@sitePage.Name</span></a>
                        </li>
                        }

                    </ul>
                </li>
                <li class="menu right-side">
                    <ul>

                        @foreach (SitePage sitePage in Model.HeaderNavigationRight)
                        {
                        <li>
                            <a href="@sitePage.Url"><span class="icon-icon_fingerpost"></span><span>@sitePage.Name</span></a>
                        </li>
                        }

                    </ul>
                </li>
            </ul>
        </div>


        <a href="/" class="logo">
            <span class="logo-ribbon"></span>
            <span class="logo-copy">Wonderland Home</span>
        </a>


        <div class="account-menu">
            <div class="menu">
                <ul>
                    <li><a class="" href="#"><span class="icon-icon_person"></span>My Party</a></li>
                    <li><a class="" href="#"><span class="icon-icon_person"></span>My Profile</a></li>
                    <li><a class="" href="#"><span class="icon-icon_person"></span>Logout</a></li>
                </ul>
            </div>
        </div>


    </nav>

    <div class="snow-brush-overlay"></div>

</header>