@inherits UmbracoViewPage<SiteSettings> 
@{
    SitePage currentSitePage = (SitePage)this.Umbraco.AssignedContentItem;
}

<header class="site-header"  ng-class="{'showing-side-nav-menu': pageShowingSideNavMenu, 'showing-side-account-menu': pageShowingSideAccountMenu, 'compress': pageHeaderCompress}">

    <a class="nav-burger nav-end-block icon-icon_hamburger_menu icon-only" ng-click="pageShowingSideNavMenu=!pageShowingSideNavMenu" ng-class="{'icon-icon_x': pageShowingSideNavMenu}"><span>Open side menu</span></a>
    @if (!this.Members.IsLoggedInPartier())
    {
    <a class="nav-account nav-end-block end-block-right icon-icon_person hide-span" href="@Model.LoginUrl"><span>Login</span></a>
    }
    else
    {
    <a class="nav-account nav-end-block end-block-right icon-icon_person hide-span" ng-click="pageShowingSideAccountMenu=!pageShowingSideAccountMenu" ng-class="{'icon-icon_x': pageShowingSideAccountMenu}"><span>Open side account menu</span></a>
    }



    @if (!this.Members.IsLoggedInPartier())
    {
        <a href="@Model.RegisterHostUrl" class="btn-primary btn-small nav-end-block" m-radius-picker="small">Host a party <span class="icon-icon_chevron_right"></span></a>
    }
    else
    {
        <a href="@(((IPartier)this.Members.GetCurrentMember()).PartyUrl)" class="btn-primary btn-small nav-end-block" m-radius-picker="small">MY PARTY <span class="icon-icon_chevron_right"></span></a>
    }



    @if (!this.Members.IsLoggedInPartier())
    {
        <div class="nav-end-block end-block-right">
            <a href="@Model.LoginUrl" class="btn-secondary btn-small" m-radius-picker="small">Login <span class="icon-icon_person"></span></a>
        </div>
    }
    else
    {        
        <div class="account-menu-holder" m-window-click-toggle="pageShowAccountDropdown">
            <div ng-click="pageShowAccountDropdown=true">
                <div class="small clickable" m-profile-image="{{ pageProfile.image.url }}" m-radius-picker="small"></div>
                <div class="account-name"><span class="margin-right-tiny" ng-bind="pageProfile.firstName|mLimitTo:9:'...'"></span><span class="icon-icon_chevron_down"></span></div>
            </div>
            <div class="account-menu" ng-class="{'opened': pageShowAccountDropdown}">
                <div class="arrow-up"></div>
                <ul>
                    <li class=""><a href="@(((IPartier)this.Members.GetCurrentMember()).PartyUrl)"><span class="icon-icon_star"></span>My party</a></li>
                    <li class=""><a href="@Model.ProfileUrl"><span class="icon-icon_cog"></span>My profile</a></li>
                    <li class=""><a class="last" href="/logout"><span class="icon-icon_padlock_unlocked"></span>Logout</a></li>
                </ul>
            </div>
        </div>
    }




    <nav class="nav">


        <div class="nav-menu">
            <ul>
                <li class="menu left-side">
                    <ul>
                        <li class="side-only"><a href="/"><span class="icon-icon_home"></span>Home</a></li>

                        @if (!this.Members.IsLoggedInPartier())
                        {
                            <li class="side-only"><a href="#"><span class="icon-icon_person"></span>Host a party</a></li>
                        }
                        else
                        {
                            <li class="side-only"><a href="#"><span class="icon-icon_person"></span>My Party</a></li>
                        }

                        @{
                            string[] icons = new string[] {"fingerpost", "star", "crown", "camera", "snowflake", "t-shirt", "question", "cutlery", "cog"};
                            int i=-1;
                            foreach (SitePage sitePage in Model.HeaderNavigationLeft)
                            {
                                i++;
                                <li>
                                    <a @{if(currentSitePage.IsInPathOf(sitePage)){<text>class="selected"</text>}} href="@sitePage.Url"><span class="icon-icon_@icons[@i]"></span><span>@sitePage.Name</span></a>
                                </li>
                            }
                        }

                    </ul>
                </li>
                <li class="menu right-side">
                    <ul>

                        @foreach (SitePage sitePage in Model.HeaderNavigationRight)
                        {
                            i++;
                            <li>
                                <a @{if (currentSitePage.IsInPathOf(sitePage)) { <text> class="selected" </text> }} href="@sitePage.Url"><span class="icon-icon_@icons[@i]"></span><span>@sitePage.Name</span></a>
                            </li>
                        }

                    </ul>
                </li>
            </ul>
        </div>


        <div class="nav-logo-holder clearfix">
            <a name="headerlogo" href="/" class="nav-logo clearfix ie7AFix">
                <div class="crest"></div>
                <div class="banner"></div>
                <span>Wonderland Home</span>
            </a>
        </div>


        @*<div class="account-menu">
            <div class="menu">
                <ul>
                    <li><a class="" href="#"><span class="icon-icon_person"></span>My Party</a></li>
                    <li><a class="" href="#"><span class="icon-icon_person"></span>My Profile</a></li>
                    <li><a class="" href="#"><span class="icon-icon_person"></span>Logout</a></li>
                </ul>
            </div>
        </div>*@


    </nav>

    <div class="snow-brush-overlay"></div>

</header>