@inherits UmbracoViewPage<SiteSettings> 
<header id="siteHeader">
    <nav class="nav">
        @if (!this.Members.IsLoggedIn())
        {
            <a class="btn-primary" href="@Model.RegisterHostUrl">Host a party ></a>
        }
        else
        {
            <a href="@(((IPartier)this.Members.GetCurrentMember()).PartyUrl)" class="btn-primary">My party</a>
        }
	    
	    <ul class="toolbar">
	        @foreach (SitePage sitePage in Model.HeaderNavigation)
	        {
	            <li><a href="@sitePage.Url">@sitePage.Name</a></li>
	        }
	    </ul>
	    <a href="/" class="wonderland-logo-bg">
            <span class="wonderland-logo"></span> 
            <p>
                Wonderland Home
            </p>
        </a>

        @if (!this.Members.IsLoggedIn())
        {
            <a class="btn-secondary" href="@Model.LoginUrl">Login</a>
        }
        else
        {
            <ul>
                <li>
                    @Html.ActionLink("Logout", "Logout", "LogoutSurface")
                </li>
            </ul>
        }

    </nav>
	<div class="snow-brush-overlay"></div>
</header>
