@inherits UmbracoViewPage<IEnumerable<PartyIdeaTile>>

<h2>Party Idea Tiles (partial)</h2>

<ul class="party-idea-tiles" ng-init="@Json.Encode(
                                                Model.Select(x =>
                                                    new 
                                                    {
                                                        imageUrl = x.TileImage.Url,
                                                        tileType = x.TileType, // decoration, fashion, playlist, recipe, fundraising
                                                        tileHeading = x.TileHeading,
                                                        tileCopy= x.TileCopy,
                                                        link = x.Url,
                                                        spotify = x is PlaylistTile,
                                                        pinterest = x is FashionTile || x is DecorationTile,
                                                        wide = x.TileSize == PartyIdeaTileSize.Wide
                                                    }
                                               )
                                        )">
    
    @foreach (PartyIdeaTile partyIdeaTile in Model)
    {
        <li class="tile-size-@partyIdeaTile.TileSize.ToString().ToLower() tile-type-@partyIdeaTile.TileType">

            <h2>@partyIdeaTile.TileHeading</h2>
            <img src="@partyIdeaTile.TileImage.GetResponsiveCropUrl("Square")" />
            <p>@partyIdeaTile.TileCopy</p>
            <a href="@partyIdeaTile.Url">@partyIdeaTile.Url</a>
            
            @switch (partyIdeaTile.TileSize)
            {
                case PartyIdeaTileSize.Narrow:
                    <h3>Narrow Tile</h3>
                    break;
                    
                case PartyIdeaTileSize.Wide:
                    <h3>Wide Tile</h3>
                    break;
            }

            @if (partyIdeaTile is DecorationTile)
            {
                DecorationTile decorationTile = (DecorationTile)partyIdeaTile;
                <h3>@decorationTile.PinterestBoradUrl</h3>
            }

            @if (partyIdeaTile is FashionTile)
            {
                FashionTile fashionTile = (FashionTile)partyIdeaTile;
                
                <h3>@fashionTile.PinterestBoardUrl</h3>
            }

            @if (partyIdeaTile is PlaylistTile)
            {
                PlaylistTile playlistTile = (PlaylistTile)partyIdeaTile;
                
                <h3>@playlistTile.PlaylistName</h3>
                <span>@playlistTile.SpotifyUrl</span>
            }

            @if (partyIdeaTile is RecipeTile)
            {         
                RecipeTile recipeTile = (RecipeTile)partyIdeaTile;
                
                <h3>@recipeTile.RecipeName</h3>
                <ol>
                    @foreach(string ingredient in recipeTile.Ingredients)
                    {
                        <li>@ingredient</li>
                    }
                </ol>
            }

        </li>
    }
</ul>