@inherits UmbracoViewPage<IEnumerable<PromotionTile>> 

@foreach (PromotionTile promotionTile in Model)
{

    <div class="grid-4 grid-tablet-6 grid-mobile-12" m-rotate m-rotate-hover>
        <div class="home-tile" m-height-match-width>
            <a class="idea-link" href="@promotionTile.Link" target="{{ isExternalLink('@promotionTile.Link') ? '_blank' : '_self' }}">
                <div class="home-tile-image" ng-style="{'background-image': 'url(@promotionTile.Image.GetResponsiveCropUrl("Square"))'}"></div>
                <img class="home-tile-label" src="@promotionTile.OverlayImage.Url" alt="@promotionTile.AltText" />
                <span class="label">Goto resource</span>
            </a>
        </div>

    </div>

}