@model ProfileBillingAddressForm



@using (Html.BeginUmbracoForm<ProfileSurfaceController>("HandleProfileBillingAddressForm", FormMethod.Post, new { m_serialized="", ng_submit="feedback.profileBillingAddressProcessing=true", m_post_on_submit="profileBillingAddressData", m_on_success_event="profileBillingAddressDataUpdated" }))
{
    @Html.AntiForgeryToken()

    <div class="grid-12 parent margin-bottom-large">

        <div class="grid-8 grid-tablet-12 parent">
            <label for="Postcode2">Postcode</label>
            <input type="text" class="margin-bottom-small" name="Postcode2" ng-model="profileBillingAddressData.Postcode" m-radius-picker="small" on-key-enter-trigger="pafAddressFinderPostcodeSearch1"/>
            <div m-address-finder="{{ profileBillingAddressData.Postcode }}" m-address="profileBillingAddressData" m-trigger-event="pafAddressFinderPostcodeSearch1"></div>
        </div>
        <div class="clear"></div>
        <hr/>
    </div>

    <div class="grid-8 grid-tablet-12 parent margin-bottom-large">


        <label for="Address1">Address 1</label>
        @Html.TextBoxFor(x => x.Address1, new { @m_radius_picker="small", @ng_model="profileBillingAddressData.Address1", @ng_readonly="feedback.profileBillingAddressProcessing", @ng_class="{'error': errorAddress1Message.length>0}", @m_value_matcher="" })
        <div class="margin-bottom-small" ng-show="errorAddress1Message.length>0" ng-init="errorAddress1Message='@Html.ValidationMessageFor(x => x.Address1)'">@Html.ValidationMessageFor(x => x.Address1)</div>

        <label for="Address2">Address 2</label>
        @Html.TextBoxFor(x => x.Address2, new { @m_radius_picker="small", @ng_model="profileBillingAddressData.Address2", @ng_readonly="feedback.profileBillingAddressProcessing", @ng_class="{'error': errorAddress2Message.length>0}", @m_value_matcher="" })
        <div class="margin-bottom-small" ng-show="errorAddress2Message.length>0" ng-init="errorAddress2Message='@Html.ValidationMessageFor(x => x.Address2)'">@Html.ValidationMessageFor(x => x.Address2)</div>

        <label for="TownCity">Town/City</label>
        @Html.TextBoxFor(x => x.TownCity, new { @m_radius_picker="small", @ng_model="profileBillingAddressData.TownCity", @ng_readonly="feedback.profileBillingAddressProcessing", @ng_class="{'error': errorTownCityMessage.length>0}", @m_value_matcher="" })
        <div class="margin-bottom-small" ng-show="errorTownCityMessage.length>0" ng-init="errorTownCityMessage='@Html.ValidationMessageFor(x => x.TownCity)'">@Html.ValidationMessageFor(x => x.TownCity)</div>

        <label for="Postcode">Postcode</label>
        @Html.TextBoxFor(x => x.Postcode, new { @m_radius_picker="small", @ng_model="profileBillingAddressData.Postcode", @ng_readonly="feedback.profileBillingAddressProcessing", @ng_class="{'error': errorPostcodeMessage.length>0}", @m_value_matcher="" })
        <div class="margin-bottom-small" ng-show="errorPostcodeMessage.length>0" ng-init="errorPostcodeMessage='@Html.ValidationMessageFor(x => x.Postcode)'">@Html.ValidationMessageFor(x => x.Postcode)</div>

        <div class="clear margin-bottom-large"></div>

    </div>


    <div class="grid-12 parent">
        <button type="submit" class="btn-primary float-right width-mobile-100p" m-radius-picker="small" ng-disabled="feedback.profileBillingAddressProcessing">Change address ></button>
        <div class="loader pos-mobile-static float-mobile-left" ng-show="feedback.profileBillingAddressProcessing"></div>
    </div>
}