@model ProfileChangePasswordForm

@using (Html.BeginUmbracoForm<ProfileSurfaceController>("HandleProfileChangePasswordForm", FormMethod.Post, new { m_serialized="", ng_submit="feedback.profilePasswordProcessing=true", m_post_on_submit="profilePasswordData", m_on_success_event="profilePasswordUpdated" }))
{
    @Html.AntiForgeryToken()

    <div class="grid-8 grid-tablet-12 parent margin-bottom-large">
        <label for="CurrentPassword">Current password</label>
        <div class="pos-relative margin-bottom-small">
            <span class="form-field-ico icon-icon_padlock"></span>
            @Html.PasswordFor(x => x.CurrentPassword, new { @m_radius_picker="small", @ng_model="profilePasswordData.CurrentPassword", @ng_readonly="feedback.profilePasswordProcessing", @ng_class="{'error': errorCurrentPasswordMessage.length>0}" })
        </div>
        <div class="margin-bottom-small" ng-show="errorCurrentPasswordMessage.length>0" ng-init="errorCurrentPasswordMessage='@Html.ValidationMessageFor(x => x.CurrentPassword)'">@Html.ValidationMessageFor(x => x.CurrentPassword)</div>


        <label for="Password">New password</label>
        <div class="pos-relative margin-bottom-small">
            <span class="form-field-ico icon-icon_padlock"></span>
            @Html.PasswordFor(x => x.Password, new { @m_radius_picker="small", @ng_model="profilePasswordData.Password", @ng_readonly="feedback.profilePasswordProcessing", @ng_class="{'error': errorPasswordMessage.length>0}" })
        </div>
        <div class="margin-bottom-small" ng-show="errorPasswordMessage.length>0" ng-init="errorPasswordMessage='@Html.ValidationMessageFor(x => x.Password)'">@Html.ValidationMessageFor(x => x.Password)</div>


        <label for="ConfirmPassword">Confirm password</label>
        <div class="pos-relative margin-bottom-small">
            <span class="form-field-ico icon-icon_padlock"></span>
            @Html.PasswordFor(x => x.ConfirmPassword, new { @m_radius_picker="small", @ng_model="profilePasswordData.ConfirmPassword", @ng_readonly="feedback.profilePasswordProcessing", @ng_class="{'error': errorConfirmPasswordMessage.length>0}" })
        </div>
        <div class="margin-bottom-small" ng-show="errorConfirmPasswordMessage.length>0" ng-init="errorConfirmConfirmPasswordMessage='@Html.ValidationMessageFor(x => x.ConfirmPassword)'">@Html.ValidationMessageFor(x => x.ConfirmPassword)</div>
    </div>


    <div class="grid-12 parent">
        <button type="submit" class="btn-primary float-right width-mobile-100p" m-radius-picker="small" ng-disabled="feedback.profilePasswordProcessing">Change password ></button>
        <div class="loader pos-mobile-static float-mobile-left" ng-show="feedback.profilePasswordProcessing"></div>
    </div>
}