@inherits UmbracoViewPage<Donate>
@{
    Layout = "~/Views/SitePage.cshtml";
}

<div class="page-bg">

    <div class="container gutter">

        <div class="wgrid-main">

            <div class="boxx" m-radius-picker>

                <h1><span class="bigger">Thanks</span><br/><span> for the donation</span></h1>

                <p>Review your order details, then go join the conversation  on the <a href="@Model.PartyHost.PartyUrl" class="body-highlight">party page wall</a></p>

                <hr/>

                <h4>Order details</h4>

                <table>
                    <tr><td>Payment #:</td><td>@Model.DonationRow.VendorTxCode</td></tr>
                    <tr><td>Payment status:</td><td>Complete</td></tr>
                    <tr><td>Date:</td><td ng-bind="'@Model.DonationRow.Timestamp'|datePreviewFormat"></td></tr>
                    <tr><td>Total amount:</td><td ng-bind="@Model.DonationRow.Amount|mCurrency:'£'"></td></tr>
                </table>

                @Html.Partial("GoogleTags", Model.DonationRow)

                <hr class="margin-top-large margin-bottom-large"/>

                <div class="clearfix">
                    @if (!this.Members.IsLoggedInPartier())
                    {
                        <a class="btn-secondary float-left width-mobile-100p" m-radius-picker="small" href="mailto:?subject=Wonderland%20payment%20confirmation&body=Hi%2C%20%0D%0Ahere%20are%20your%20payment%20details%20from%20your%20Wonderland%20donation%20to%20Macmillan.%0D%0AOrder%23%3A%20@(Model.DonationRow.VendorTxCode)%20for%20the%20amount%20of%20%C2%A3@(Model.DonationRow.Amount).%0D%0APayment%20Date%20@(Model.DonationRow.Timestamp)%20%0A%0AMany%20thanks%20your%20Wonderland%20Party%20Crew." target="_blank"><span class="margin-left-small">Email payment confirmation</span></a>
                    }
                    <a href="@Model.PartyHost.PartyUrl" class="btn-primary float-right width-mobile-100p" m-radius-picker="small medium">Go to the party page ></a>
                </div>

            </div>

        </div>


        <div class="wgrid-side parent">

            <div class="wgrid-full parent">

                <div class="boxx collapse" m-radius-picker="medium">

                    @Html.Partial("PartyDetailsSide")

                </div>

            </div>

            <div class="wgrid-full pad-0">

                <div class="boxx radius-v1-small">

                    <div m-totaliser m-raised="@Model.PartyHost.AmountRaised" m-total="@Model.PartyHost.FundraisingTarget"></div>

                </div>

            </div>

        </div>

    </div>

</div>
