@model RegisterHostForm

<h1>Register Host Form Partial</h1>

@using(Html.BeginUmbracoForm<RegisterHostSurfaceController>("RegisterHostForm"))
{
    @Html.AntiForgeryToken()
    
    <div class="editor-label">
        @Html.LabelFor(x => x.EmailAddress)
    </div>
    <div class="editor-field">
        @Html.EditorFor(x => x.EmailAddress)
        @Html.ValidationMessageFor(x => x.EmailAddress)
        @Html.ValidationMessage("EmailValidation")    
    </div>

    @Html.EditorForField(x => x.Password)
            
    <div class="editor-label">
        @Html.LabelFor(x => x.MarketingSource)
    </div>
    <div class="editor-field">
        @Html.DropDownListFor(x => x.MarketingSource, (SelectList)this.ViewBag.MarketingSources)
    </div>
    
    <button type="submit">Submit</button>
}
